/* font-family: 'Lato', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}
h1{
    font-family: 'Lato', sans-serif;
    color: #333;
}
h2{
    font-family: 'Lato', sans-serif;
    color: #333;
}
h3{
    font-family: 'Lato', sans-serif;
    color: #333;
}
.header{
    padding: 30px;
    background: #fff !important;
}
.logo{
    font-size: 30px; 
    font-weight: 400;  
    text-transform: uppercase;
}
.menu ul li a{
    font-family: 'Lato', sans-serif;
    margin-right: 22px;
    text-transform: uppercase;
}
.menu ul li:last-child a{
    margin-right: 0px;
}
.navbar{
    padding: 0;
}


    


.btn_s{
    color: #8e8e8e;
}
.btn_s:hover{
    color: #333;
}
.btn_s::after{
    display: none;
}
.btn_s:focus{
    outline: 0;
    box-shadow: none;
}
.c_dpm{
    min-width: 350px;
    padding: 20px 10px;
    border-radius: 0;

}
.c_dpm[data-bs-popper]{
    top: 100%;
    left: -295px;
    margin-top: 22px;
}
.search_button{
    width: 100%;
    height: 45px;
    border: none;
    background-color: transparent;
}
/* banner start */
.banner{
    background-image: url(../img/slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}
.s_content{
    margin: 210px 0;
    color: #fff;
}
.s_content h2{
    font-size: 59px;
    font-weight: 700;
    color: #fff;
}
.s_content p{
    padding: 40px 0 50px;
}
.s_content button{
    padding: 16px 32px;
    color: #000;
    background-color: #f8f9fa;
    text-transform: uppercase;
    border: none;
}
.s_content button span{
    margin-left: 23px;
}
.cbp, .cbn{
    align-items: end;
}
.cbp{
    left: 30px;
}
.cbn{
    right: 0px;
    left: 120px !important;
}
.ccp, .ccn{
    width: 50px;
    height: 25px;
    background-image: none;
    color: #333;
}
/* banner end */
/* welcome start */
.top_arrow{
    display: inline-block;
    width: 2px;
    height: 50px;
    background-color: #000;    
} 
.c_head h1{
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 40px;
}  
/* welcome end */